@using System.Text.Json;
@model Janus.Mask.Sqlite.WebApp.ViewModels.DataSourceViewModel

@{
    ViewData["Title"] = "Current loaded schema";
}

<h2>Current loaded schema</h2>
<partial name="OperationOutcomePartial" model="Model.OperationOutcome" />

<div class="row">
    <pre class="form-control">@Model.DataSourceJson</pre>
</div>