@model Janus.Mediator.WebApp.ViewModels.CommandingViewModel

@{
    ViewData["Title"] = "Commanding on a mediated schema";
}
<h2>Commanding</h2>
<hr />
<partial name="OperationOutcomePartial" model="Model.OperationOutcome"/>
<div class="row mt-2 mb-2">
    <div class="col-6">
        <form asp-action="RunCommand" method="post">
            <textarea name="commandText" class="form-control" rows="15" type="text">@Model.CommandText</textarea>
            <input type="submit" class="btn btn-primary mt-2" value="Run command!" />
        </form>

    </div>
    <div class="col-6">
        <h4>Current mediated schema</h4>
        <textarea disabled class="w-100" rows="15" id="schema-json" asp-for="MediatedDataSourceJson"></textarea>
    </div>
</div>