@model DataSourceViewModel

@{
    ViewData["Title"] = "Current inferred schema";
}

<h2>Current inferred schema</h2>
<partial name="OperationOutcomePartial" model="Model.OperationOutcome" />

<div class="row">
    <form asp-action="GenerateSchema" method="post">
        <input type="submit" class="btn btn-primary" value="Infer schema on the data source" />
    </form>
</div>

<div class="row mt-2">
    <pre class="form-control">@Model.DataSourceJson</pre>
</div>