@using System.Text.Json;
@model Janus.Mediator.WebApp.ViewModels.DataSourceViewModel

@{
    ViewData["Title"] = "Current mediated schema";
}

<h2>Current mediated schema</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="row">
        <span class="alert alert-warning">@Model.Message</span>
    </div>
}

<div class="row">
    <pre id="schema-json">
        @Model.DataSourceJson
    </pre>
</div>

@section Scripts{
    <script>
        let data = JSON.parse(document.getElementById("schema-json").innerText)
        document.getElementById("schema-json").textContent = JSON.stringify(data, undefined, 2);
    </script>
}